@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Cormorant Garamond', serif;
  text-align: justify;
  background: #fefefe;
  /* TODO Load background image */
}

section {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar-left {
  background: #288CFF;
  flex: 2;
  flex-basis: 5%;
  /* Load artwork images */
}

.sheet {
  background:  green;
  flex: 1;
  flex-basis : 3%;
}

.current-sheet {
  background: #f5f5f5;
  flex : 5;
  flex-basis: 75%;
  box-shadow:  0 0 20px rgba(0,0,0,.25);
}

.content-container {
  background: white;
  width: 95%;
  height: 100%;
  /* background: indigo; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5%;
}

.current-content-container {

}

.title {
  width: 100%;
  /* background: red; */
  height: auto;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  font-size: calc(16px + 12 * ((100vw - 320px) / 680));
  padding: 0.7em;
}

.content {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  margin: 1em;
  /* TODO Add moz and webkit versions */
  column-count: 2;
  moz-column-fill: auto;
  column-rule: 1px solid;
  column-gap: 3em;
  line-height: 1.5em;
  word-spacing: 0.1em;
  /* display: none; */
}

@media only screen and (min-width: 1600px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 568px) {}
